body {
    background-color: #F0F2F5;
    font-family: Poppins;
}

nav {
    background-color: #F0F2F5;
    display: flex;

    width: 100%;

    justify-content: space-between;
    align-items: center;
}


a {
    color: #000;
    text-decoration: none;

}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}